option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "tobutton.settings"
    "PYTHONPATH": "/opt/python/current/app/tobutton:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: testter-hiren/tobutton/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
